body{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: inherit;
    background-image: url("graycity.jpg");
    height: 400x;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 125%;
}

user1{

}

mypanel{

}

mypanel1{

}

mypanel2{

}