body{
    text-align: center;
    color: rgb(43, 199, 147);
    background-color: inherit;
    background-image: url("graycity.jpg");
    height: 400x;
    background-position: center;
    background-repeat: no-repeat;
}

user1{


}

mypanel{


}

mypanel1{


}

mypanel2{

}